@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,500;1,400&family=Merriweather:ital@0;1&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  color: #286dc0;
  text-decoration: underline;
}

a:hover {
  color: #1c2321;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #eff1f3;
  padding-top: 50px;
}

.bold-text {
  font-weight: 700;
}

/* 
Font weight  
regular - 400 
semi-bold - 600
bold - 700
*/
h1,
h2,
h3,
h4,
p,
ul {
  margin-left: 10vw;
  margin-right: 25vw;
}

h1 {
  /* Home page - lab name */
  color: #00356b;
  font-weight: 600;
  font-family: "Playfair Display", "Bitter", "Open Sans", serif;
}

h2 {
  /* Latest News, Projects, Contact, Publications, Team */
  color: #00356b;
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: "Playfair Display", "Bitter", "Open Sans", serif;
}

h3 {
  /* Ongoing, Completed */
  color: #1c2321;
  font-weight: 600;
  font-family: "Playfair Display", "Bitter", "Open Sans", serif;
}

h4 {
  /* Completed project title */
  color: #1c2321;
  font-family: "Playfair Display", "Bitter", "Open Sans", serif;
}

li {
  padding-top: 10px;
}

p {
  color: #1c2321;
}

ul {
  color: #1c2321;
  padding-left: 20px;
}

/* Whitespace bars between sections */
.whitespace {
  height: 45px;
}

/* Navbar */
#header a {
  text-decoration: none;
}

.navbar-color-custom {
  background-color: #00356b;
}

.navbar a {
  font-family: "Playfair Display", "Bitter", "Open Sans", serif;
}

.navbar {
  padding-left: 10vw;
  padding-right: 10vw;
}

.navbar-dark .navbar-nav .nav-link {
  color: #eff1f3;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #eff1f3;
}

.navbar-nav a:hover {
  border-bottom: 2px solid #eff1f3;
}

/* Home */
.bg {
  min-height: 50vh;
  background-image: url("Images/homepage.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#home img {
  width: 100%;
  height: auto;
  padding-left: 0vw;
  padding-right: 0vw;
}

.display-4 {
  font-weight: 700;
}

/* Latest News */

/* Projects */

/* Publications */
#publications h2 {
  padding-top: 0px;
}

.paper-title {
  /*  color: #286dc0; */
  font-style: italic;
}

/* Team */
#team h2 {
  padding-top: 0px;
}

#team p {
  margin-left: 0vw;
  margin-right: 0vw;
}

.team-cards {
  margin-left: 10vw;
  margin-right: 10vw;
  padding-top: 10px;
  padding-bottom: 10px;
}

.team-name {
  font-weight: 600;
}

.team-social-links a {
  display: inline-block;
  transition: 0.2s;
  padding-right: 5px;
}

.team-social-links a:hover {
  transform: scale(1.2);
}

.team-social-links a i {
  color: #1c2321;
}

.team-social-links {
  font-size: 17px;
}

.google-scholar {
  width: 17px;
}
/* Contact */

/* Footer */
.footer {
  background-color: #00356b;
  padding: 15px;
}

#footer p {
  color: #eff1f3;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}

/* For Tablet or smaller devices */
@media screen and (max-device-width: 1280px) {
  h1,
  h2,
  h3,
  h4,
  p,
  ul {
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .navbar {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .team-cards {
    margin-left: 5vw;
    margin-right: 5vw;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
